

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">List</h1>
    </div>
  </div>
  <div class="row">
      <div class="col-xs-8 col-sm-10">
          <input type="text" class="form-control" ng-model="mainVm.itemName">
      </div>
      <div class="col-xs-2">
          <button type="button" class="btn btn-info" ng-click="mainVm.addItem()">Add Item</button>
      </div>
  </div>
  <div class="row">
      <ul class="col-xs-12">
          <li ng-repeat="(index, item) in mainVm.list">
              {{item}} -- {{index}}
          </li>
      </ul>
  </div>
</div>
